<footer class="bg-light text-dark pt-2 pb-3 mt-2 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-4">
        <h5>Warwick Summer School Team</h5>
        <p>
          Tel. +44(0)24 76523003<br />
          Email:
          <a
            href="mailto:wssadmissions@warwick.ac.uk?subject=Warwick%20Summer%20School%20Inquiry"
            >wssadmissions@warwick.ac.uk</a
          >
        </p>
      </div>
      <div class="col-md-4 text-md-end mb-1">
        <ul class="list-unstyled">
          <li>
            <a
              href="https://www.facebook.com/warwicksummerschools"
              class="text-dark"
              >Facebook</a
            >
          </li>
          <li>
            <a href="https://twitter.com/WarwickSummer" class="text-dark"
              >Twitter</a
            >
          </li>
          <li>
            <a
              href="https://www.instagram.com/warwicksummerschools/"
              class="text-dark"
              >Instagram</a
            >
          </li>
          <li>
            <a href="https://weibo.com/warwickuniversity" class="text-dark"
              >Weibo</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="row border-top pt-3">
      <div class="col-md-6 small">
        Page contact:
        <a
          href="/sitebuilder2/api/ajax/emailOwner.htm?page=%2Fstudy%2Fsummer-with-warwick%2Fwarwick-summer-school"
          title="Send an email to Warwick University Summer School"
        >
          Warwick University Summer School </a
        ><br />
        Last revised: Sun 18th May 2025
      </div>
      <div class="col-md-6 text-md-end small">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="https://warwick.ac.uk/accessibility">Accessibility</a>
          </li>
          <li class="list-inline-item">
            <a href="https://warwick.ac.uk/cookies">Cookies</a>
          </li>
          <li class="list-inline-item">
            <a href="https://warwick.ac.uk/privacy">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="https://warwick.ac.uk/terms/general">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
